integrations/n8n/strava-to-firestore.workflow.json
{
  "name": "Strava -> Firestore (Cornerman)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Every 3 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        340
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000010",
      "name": "Manual backfill",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0000000-0000-4000-8000-000000000001",
              "name": "stravaClientId",
              "value": "PASTE_STRAVA_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "c0000000-0000-4000-8000-000000000002",
              "name": "stravaClientSecret",
              "value": "PASTE_STRAVA_CLIENT_SECRET",
              "type": "string"
            },
            {
              "id": "c0000000-0000-4000-8000-000000000003",
              "name": "stravaRefreshToken",
              "value": "PASTE_STRAVA_REFRESH_TOKEN",
              "type": "string"
            },
            {
              "id": "c0000000-0000-4000-8000-000000000004",
              "name": "firebaseProjectId",
              "value": "PASTE_FIREBASE_PROJECT_ID",
              "type": "string"
            },
            {
              "id": "c0000000-0000-4000-8000-000000000005",
              "name": "uid",
              "value": "PASTE_MICHAEL_FIREBASE_UID",
              "type": "string"
            },
            {
              "id": "c0000000-0000-4000-8000-000000000006",
              "name": "backfillDays",
              "value": "30",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        340
      ],
      "notes": "Edit these values before activating. Everything downstream references them via $('Config')."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.strava.com/oauth/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Config').item.json.stravaClientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Config').item.json.stravaClientSecret }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Config').item.json.stravaRefreshToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Refresh Strava token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        340
      ],
      "notes": "Strava returns a NEW refresh_token here. If it differs from Config.stravaRefreshToken you must update Config with the new value (see README - rotate refresh token)."
    },
    {
      "parameters": {
        "jsCode": "// Determine the 'after' epoch (seconds) for the Strava activities query.\n// Strategy: use n8n workflow static data as the persistent 'last synced' marker.\n// On the very first run (or a manual backfill) fall back to now - backfillDays.\n\nconst staticData = $getWorkflowStaticData('global');\nconst backfillDays = parseInt($('Config').item.json.backfillDays, 10) || 30;\nconst nowSec = Math.floor(Date.now() / 1000);\nconst fallback = nowSec - backfillDays * 24 * 60 * 60;\n\nlet after = staticData.lastSyncedEpoch;\nif (typeof after !== 'number' || !after) {\n  after = fallback;\n}\n\n// Carry the refreshed access token forward.\nconst accessToken = $('Refresh Strava token').item.json.access_token;\n\nreturn [{ json: { after, accessToken } }];"
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Compute after epoch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        340
      ]
    },
    {
      "parameters": {
        "url": "https://www.strava.com/api/v3/athlete/activities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "after",
              "value": "={{ $json.after }}"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Get activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        340
      ],
      "notes": "Returns an array of activity summaries. after = unix seconds. per_page 50 is plenty for a 3h window."
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Split activities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -20,
        340
      ],
      "notes": "The HTTP node wraps the array; split each activity into its own item. If your n8n returns the array directly, set 'Field to Split Out' accordingly (see README)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d0000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Only Runs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        200,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/{{ $('Config').item.json.firebaseProjectId }}/databases/(default)/documents:runQuery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"structuredQuery\": {\n    \"from\": [{ \"collectionId\": \"sessions\" }],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": { \"fieldPath\": \"uid\" },\n              \"op\": \"EQUAL\",\n              \"value\": { \"stringValue\": \"{{ $('Config').item.json.uid }}\" }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": { \"fieldPath\": \"stravaId\" },\n              \"op\": \"EQUAL\",\n              \"value\": { \"stringValue\": \"{{ String($json.id) }}\" }\n            }\n          }\n        ]\n      }\n    },\n    \"limit\": 1\n  }\n}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Check existing by stravaId",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        340
      ],
      "notes": "runQuery returns an array; a match yields an item with a 'document' key, a miss yields an item with only a 'readTime' key. Uses the Google API (service account) credential."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "e0000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Skip if exists",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        640,
        340
      ],
      "notes": "Passes only activities that did NOT match an existing sessions doc (no 'document' key => new run)."
    },
    {
      "parameters": {
        "jsCode": "// Build a Firestore REST document body (typed values) for one Strava run.\n// The activity is available from the 'Split activities' node (the runQuery response\n// items don't carry the original activity fields), so we look it back up by paired index.\n\nconst config = $('Config').first().json;\nconst uid = config.uid;\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  // Recover the original Strava activity for this item.\n  // 'Check existing by stravaId' ran 1:1 off 'Only Runs', so pairedItem maps back.\n  const activity = $('Only Runs').itemMatching(item.pairedItem?.item ?? 0).json;\n\n  const movingTime = Number(activity.moving_time);           // seconds\n  const distanceKm = Number(activity.distance) / 1000;       // Strava distance is metres\n  const durationMin = Math.round(movingTime / 60);\n  const avgPaceSecPerKm = distanceKm > 0 ? Math.round(movingTime / distanceKm) : null;\n\n  // Strava sometimes omits average_heartrate (no HR sensor) -> null.\n  const avgHr = (activity.average_heartrate === undefined || activity.average_heartrate === null)\n    ? null\n    : Number(activity.average_heartrate);\n\n  // date = start_date_local as YYYY-MM-DD (already local to the athlete).\n  const date = String(activity.start_date_local).slice(0, 10);\n\n  const stravaId = String(activity.id);\n\n  // Firestore REST typed-value document.\n  const fields = {\n    uid: { stringValue: uid },\n    date: { stringValue: date },\n    sport: { stringValue: 'running' },\n    source: { stringValue: 'strava' },\n    status: { stringValue: 'done' },\n    durationMin: { integerValue: String(durationMin) },\n    rpe: { nullValue: null },\n    note: { nullValue: null },\n    location: { nullValue: null },\n    distanceKm: { doubleValue: distanceKm },\n    avgPaceSecPerKm: avgPaceSecPerKm === null\n      ? { nullValue: null }\n      : { integerValue: String(avgPaceSecPerKm) },\n    avgHr: avgHr === null ? { nullValue: null } : { doubleValue: avgHr },\n    stravaId: { stringValue: stravaId },\n    exercises: { arrayValue: { values: [] } },\n    createdAt: { timestampValue: new Date().toISOString() },\n    updatedAt: { timestampValue: new Date().toISOString() }\n  };\n\n  results.push({ json: { firestoreBody: { fields } } });\n}\n\nreturn results;"
      },
      "id": "a1000000-0000-4000-8000-00000000000a",
      "name": "Build Firestore doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/{{ $('Config').item.json.firebaseProjectId }}/databases/(default)/documents/sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.firestoreBody) }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-00000000000b",
      "name": "Create session doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        340
      ],
      "notes": "POST with an auto-generated document id. Uses the Google API (service account) credential."
    },
    {
      "parameters": {
        "jsCode": "// Advance the 'last synced' marker so the next run only fetches newer activities.\n// Use the newest start_date across ALL fetched runs (not just newly-created ones)\n// so we still advance even when everything was already deduped.\n\nconst staticData = $getWorkflowStaticData('global');\n\nlet maxEpoch = staticData.lastSyncedEpoch || 0;\nconst runs = $('Only Runs').all();\nfor (const r of runs) {\n  const startSec = Math.floor(new Date(r.json.start_date).getTime() / 1000);\n  if (startSec > maxEpoch) maxEpoch = startSec;\n}\n\nif (maxEpoch > 0) {\n  staticData.lastSyncedEpoch = maxEpoch;\n}\n\nreturn [{ json: { lastSyncedEpoch: staticData.lastSyncedEpoch, createdCount: $input.all().length } }];"
      },
      "id": "a1000000-0000-4000-8000-00000000000c",
      "name": "Advance last synced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        340
      ],
      "notes": "Runs once at the end. Persists lastSyncedEpoch in workflow static data."
    }
  ],
  "connections": {
    "Every 3 hours": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual backfill": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Refresh Strava token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Strava token": {
      "main": [
        [
          {
            "node": "Compute after epoch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute after epoch": {
      "main": [
        [
          {
            "node": "Get activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get activities": {
      "main": [
        [
          {
            "node": "Split activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split activities": {
      "main": [
        [
          {
            "node": "Only Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Runs": {
      "main": [
        [
          {
            "node": "Check existing by stravaId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check existing by stravaId": {
      "main": [
        [
          {
            "node": "Skip if exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if exists": {
      "main": [
        [
          {
            "node": "Build Firestore doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Firestore doc": {
      "main": [
        [
          {
            "node": "Create session doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create session doc": {
      "main": [
        [
          {
            "node": "Advance last synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "cornerman-strava-firestore"
  },
  "tags": [
    {
      "name": "cornerman"
    }
  ]
}
